svg.bars {
    fill: red;
}

svg.new {
    fill:brown;
    font-size:12px;
    text-anchor: end;
}

svg.new rect {
    fill: cyan;
}
svg.new rect.plus{
    fill: lightgreen;
}
svg.new rect.minus{
    fill: red;
}