svg.bars {
    fill: red;
}

svg.new {
    fill:cornflowerblue;
    font-size:21px;
    text-anchor: middle;
}

svg.new rect {
    fill: cyan;
}
svg.new rect.plus{
    fill: lightgreen;
}
svg.new rect.minus{
    fill: red;
}