text {
    fill: black;
    stroke: none;
    font-size: 6px;
    stroke-width: 0.25;
    text-anchor: middle;
}

text.heading {
    font-size: 20px;
}

text.dd {
    font-size: 15px;
}

div /deep/ .dotcircle {
    color: rgb(238, 91, 152);
    background-image: linear-gradient(to bottom right, blue, cyan);
}
