<div class="tipper"></div>
<svg [attr.width]="ww" [attr.height]="hh">
    <g [attr.transform]="translatehack(ww/2,hh/2)">
        <ng-container *ngIf="picdata.length">
            <ng-container *ngFor="let d of picdata;let i=index">
                <g 
                (mouseenter)="mouser($event,i,d,true)"
                (mouseleave)="mouser($event,i,d,false)" 
                (click)="clicker($event,d,i)">
                <path id="face" [attr.d]="arcPath(d)"
                    [style.fill]="colours(d.data.index?d.data.index:colours.domain()[1])"></path>
                <text id="face" [attr.class]="d.depth<3?'dd':''"
                    [attr.transform]="translatehack(arcCentroid(d)[0],arcCentroid(d)[1],d.depth===3?270+x((d.x0+d.x1)/2)/piover180:0)">{{d.data.name}}</text>
            </g>
            </ng-container>
        </ng-container>
    </g>
</svg>