text {
    fill: black;
    stroke: none;
    font-size: 6px;
    stroke-width: 0.25;
    text-anchor: middle;
}

text.heading {
    font-size: 20px;
}

text.dd {
    font-size: 15px;
}

/deep/ .dotcircle {
    color: rgb(238, 91, 152);
    background-image: linear-gradient(to bottom right, blue, cyan);
}

.htmltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .htmltip .tiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .htmltip .tiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .htmltip:hover .tiptext {
    visibility: visible;
    opacity: 1;
  }