text.trades{
    font-size: 15px;
}
rect.trades{
    stroke: grey;
    fill: grey;
    fill-opacity: 0.5;
}
circle.gridCircle {
    fill: rgb(255, 155, 97);
    stroke: rgba(255, 155, 97, 0.25);
}

path.gridZero {
    fill: black;
    stroke: black;
    stroke-dasharray: 15, 15;
    stroke-width: 5px;
}
text.tooltipRadar {
    font-size: 30px;
}

text.legendRadar.left {
    font-size: 10px;
    fill: rgb(51, 51, 51);
    text-anchor: start;
    text-align: right;
}

text.legendRadar.right {
    font-size: 10px;
    fill: rgb(51, 51, 51);
    text-anchor: end;
    text-align: left;
}

text.legendRadar {
    font-size: 10px;
    fill: rgb(51, 51, 51);
    text-anchor: middle;
    text-align: center;
}

text.axisRadar {
    font-size: 15px;
    font-stretch: expanded;
    fill: black;
    text-anchor: start;
    text-align: center;
}

rect.weightSinglePlus {
    fill: rgb(37, 175, 213);
    fill-opacity: 0.35;
}

rect.weightSinglePlus.over {
    fill: rgb(37, 175, 213);
    fill-opacity: 1;
}

rect.weightSingleMinus {
    fill: rgba(231, 127, 121, 1);
    fill-opacity: 0.35;
}

rect.weightSingleMinus.over {
    fill: rgba(231, 127, 121, 1);
    fill-opacity: 1;
}

.portfolioFlower {
    fill-opacity: 0.35;
}

.portfolioFlower.over {
    fill-opacity: 0.75;
}

.portfolioFlower.dim {
    fill-opacity: 0.05;
}