text.trades {
    font-size: 15px;
    opacity: 0.5;
}

text.trades.touch {
    font-size: 30px;
    opacity: 1;
}

text.datakeys {
    font-size: 15px;
    fill: rgb(90, 76, 59);
}

rect.trades {
    stroke: grey;
    fill: grey;
    fill-opacity: 0.5;
}

circle.gridCircle {
    fill: rgb(255, 155, 97);
    stroke: rgba(255, 155, 97, 0.25);
}

path.gridZero {
    fill: black;
    stroke: black;
    stroke-dasharray: 15, 15;
    stroke-width: 5px;
}

text.tooltipRadar {
    font-size: 30px;
}

text.axis {
    stroke-width: 4px;
    font-size: 25px;
}

text.legendRadar.left {
    font-size: 10px;
    fill: rgb(51, 51, 51);
    text-anchor: end;
    /*   text-align: right;*/
}

text.legendRadar.right {
    font-size: 10px;
    fill: rgb(51, 51, 51);
    text-anchor: start;
    /*   text-align: left;*/
}

text.legendRadar {
    font-size: 10px;
    fill: rgb(51, 51, 51);
    text-anchor: middle;
    /*    text-align: center;*/
}

text.legendRadar.touch {
    font-size: 10px;
    stroke: rgb(197, 11, 11);
    fill: rgb(11, 197, 11);
}

line.line {
    stroke: rgb(248, 230, 230);
    stroke-width: 1.5px;
    background-color: azure;
}

text.axisRadar {
    font-size: 10px;
    fill: black;
    text-anchor: start;
}

rect.weightSinglePlus {
    fill: rgb(37, 175, 213);
    fill-opacity: 0.35;
}

rect.weightSinglePlus.over {
    fill: rgb(37, 175, 213);
    fill-opacity: 1;
}

rect.weightSingleMinus {
    fill: rgba(231, 127, 121, 1);
    fill-opacity: 0.35;
}

rect.weightSingleMinus.over {
    fill: rgba(231, 127, 121, 1);
    fill-opacity: 1;
}

path.portfolioFlower {
    fill-opacity: 0.35;
}

path.portfolioFlower.over {
    fill-opacity: 0.75;
}

path.portfolioFlower.dim {
    fill-opacity: 0.05;
}

div.divradar {
    position: relative;
}

div.outerScrolled {
    position: relative;
}

div.notScrolled {
    position: relative;
}

div.nsDivRisk {
    position: relative;
}

div.oDivRisk {
    position: relative;
}

div.divradar2 {
    position: relative;
}

tspan.spacer {
    text-anchor: end;
}

div.innerScrolled {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
}

div.iDivRisk {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
}
#SB.sendback{
    font-size: 16px;
    color: rgb(220, 150, 23);
}