<svg id="RECEIVER" [attr.width]="ww*(wArray(ww).length+1)" [attr.height]="trans(ww*(wArray(ww).length+3))">
    <ng-container *ngFor="let p of wArray(ww);let j=index;">
        <g [attr.transform]="translatehack(p,trans(p))" (click)="clicker(clickAngle,j)">
            <rect [attr.rx]="ww*3e-2" [attr.ry]="ww*3e-2" [attr.width]="ww" [attr.height]="heightOveFontSize" [attr.y]="'-0.5em'"
                [attr.x]="-ww/2">
            </rect>
            <text [attr.x]="0" [attr.y]="'0.37em'">{{inputText}}{{j+1}}</text>
        </g>
    </ng-container>
</svg>