<div [style.display]="'none'">
    <div title="Colour Picker" [style.display]="'flex'">
        <svg (click)="pick3d($event)" id="picker" width="100" height="120">
            <g [attr.transform]="'translate(0,'+100*(1-root3/2)/2+')'">
                <path [style.fill]="setColour" class="colours" [attr.d]="ttt(100)"></path>
                <text x="50" y="100" class="colours">{{setColour}}</text>
            </g>
        </svg>
    </div>
    <div [style.display]="'flex'">gamma:
        <input id="slide" type="range" min="0" value="10000" max="50000" (input)="newgamma($event)">{{formatC(colourgamma)}}
    </div>
</div>
<div [style.display]="'flex'">
    <app-dartboard [useOffset]="false" [useTwoChars]="true" [ww]="900" [esgColour]="esgColour" [title]="title1" [picdata]="picdata1" [attr.smallgreytitle]="title1"></app-dartboard>
    <app-dartboard [useOffset]="false" [rotateok]="false" [ww]="900" [esgColour]="esgColour2" [title]="title2" [picdata]="picdata2" [attr.smallgreytitle]="title2"></app-dartboard>
</div>
<div [style.display]="'flex'">
    <app-dartboard [useOffset]="false" [rotateok]="false" [ww]="900" [esgColour]="esgColour3" [title]="title3" [picdata]="picdata3" [attr.smallgreytitle]="title3"></app-dartboard>
    <app-dartboard [useTwoChars]="true" [ww]="900" [esgColour]="esgColour" [title]="title4" [picdata]="picdata4" [attr.smallgreytitle]="title4"></app-dartboard>
</div>
<div [style.display]="'flex'">
    <app-dartboard [ww]="900" [esgColour]="esgColour" [title]="title5" [picdata]="picdata5" [attr.smallgreytitle]="title5"></app-dartboard>
    <div smallgreytitle="Line Chart: Click on numbers to reset!">
        <svg [attr.width]="XX4" [attr.height]="YY4">
    <g [attr.transform]="translatehack(0,0,1)" >
    <ng-container *ngFor="let line of L4DATA;let base=index">
    <text (click)="clickShape(-1)"class="LL4" [attr.x]="GAP4/2" [attr.y]="yl(base/L4DATA.length)">{{formatC(base/L4DATA.length)}}</text>
    <path class="linePath" (click)="clickShape(L4DATA.length-base)" [style.fill]="L4COLOUR(base)" [attr.d]="linePath(line)"></path>
    <path class="LL4" [attr.d]="'M'+xl(0)+' '+yl(base/L4DATA.length)+'L'+xl(1)+' '+yl(base/L4DATA.length)"></path>
    </ng-container>
    <text (click)="clickShape(-1)"class="LL4" [attr.x]="GAP4/2" [attr.y]="yl(1)">{{formatC(1)}}</text>
    <path class="LL4" [attr.d]="'M'+xl(0)+' '+yl(1)+'L'+xl(1)+' '+yl(1)"></path>
    <path class="LL4 V" [attr.d]="'M'+xl(0)+' '+yl.range()[0]+'L'+xl(0)+' '+yl.range()[1]"></path>
    </g>
    </svg>
    </div>
</div>

<div [style.display]="'flex'">
    <app-flower style="--back:lightgreen" smallgreytitle="Portfolio flowers" [scaleExp]="0.2" [sticks]="false" [flowerfinal]="flowerfinal" [flowerinitial]="flowerinitial" [flowernames]="flowernames" [maxFindZero]="0"></app-flower>
    <app-flower style="--back:cyan" smallgreytitle="Portfolio sticks" [scaleExp]="0.3" [sticks]="true" [flowerfinal]="flowerfinal" [flowerinitial]="flowerinitial" [flowernames]="flowernames" [maxFindZero]="0"></app-flower>
</div>
<div style="display:flex;">
    <div style="display:inline-block;font-size: x-small;" [style.background-color]="'rgb(65,65,65)'">
        <app-pillar3 smallgreytitle="CO2" style="--back:rgb(50, 204, 178);" [Classes]="['nodata', 'average']" [left]="10" [right]="10" [bottom]="10" [nolines]="true" [pillars]="{E:[1,0.5],S:[1,2],G:[1,0.1]}" [ww]="200" [hh]="100"></app-pillar3>
        <app-pillar3 smallgreytitle="Current" style="--back:rgb(50, 204, 178);" [top]="4" [bottom]="2" [pillars]="{E:[1,4,3,3,2,6,7],S:[1,.2,3,4,.5,6,.7],G:[7,6,5,4,3,2,1]}" [ww]="300" [hh]="100" leftlabel="true"></app-pillar3>
        <app-pillar3 smallgreytitle="Proposed" style="--back:rgb(50, 204, 178);" [top]="4" [bottom]="2" [pillars]="{E:[1,2,1,4,5,6,7],S:[1,2.2,3,4,.5,6,.7],G:[7,6,5,4,3,2,1]}" [ww]="300" [hh]="100"></app-pillar3>
        <app-pillar3 smallgreytitle="Benchmark" style="--back:rgb(50, 204, 178);" [top]="4" [bottom]="2" [pillars]="{E:[1,5,3,4,5,6,7],S:[1,.2,3,4,.5,6,.7],G:[7,6,5,2,3,2,1]}" [ww]="300" [hh]="100"></app-pillar3>
    </div>
</div>
<div style="display:inline-block;" [style.background-color]="'gainsboro'">
    <app-preference smallgreytitle="Preference" style="--back:rgb(50, 204, 178);"></app-preference>
</div>
<div style="display:inline-block;background-color:white">
    <table>
        <tr>
            <th>
                <app-exposures smallgreytitle="Current" [left]="250" [ww]="550" [hh]="700" portFolioType="Current" style="--back:darkorchid;"></app-exposures>
            </th>
            <th>
                <app-exposures smallgreytitle="Proposed" portFolioType="Proposed" [hh]="700" [left]="0" [ww]="300" [labelleft]="false" style="--back:darkorchid;"></app-exposures>
            </th>
            <th>
                <app-exposures smallgreytitle="Benchmark" portFolioType="Benchmark" [hh]="700" [left]="0" [ww]="300" [labelleft]="false" style="--back:darkorchid;"></app-exposures>
            </th>
        </tr>
    </table>
</div>