<div [style.display]="'none'">
    <div title="Colour Picker" [style.display]="'flex'">
        <svg (click)="pick3d($event)" id="picker" width="100" height="120">
            <g [attr.transform]="'translate(0,'+100*(1-root3/2)/2+')'">
                <path [style.fill]="setColour" class="colours" [attr.d]="ttt(100)"></path>
                <text x="50" y="100" class="colours">{{setColour}}</text>
            </g>
        </svg>
    </div>
    <div [style.display]="'flex'">gamma:
        <input id="slide" type="range" min="0" value="10000" max="50000" (input)="newgamma($event)">{{formatC(colourgamma)}}
    </div>
</div>
<div [style.display]="'inline-flex'">
    <app-dartboard [esgColour]="esgColour" [title]="title1" [picdata]="picdata1" [attr.smallgreytitle]="title1"></app-dartboard>
    <app-dartboard [esgColour]="esgColour2" [title]="title2" [picdata]="picdata2" [attr.smallgreytitle]="title2"></app-dartboard>
    <app-dartboard [esgColour]="esgColour3" [title]="title3" [picdata]="picdata3" [attr.smallgreytitle]="title3"></app-dartboard>
    <app-dartboard [esgColour]="esgColour" [title]="title4" [picdata]="picdata4" [attr.smallgreytitle]="title4"></app-dartboard>
    <app-dartboard [esgColour]="esgColour" [title]="title5" [picdata]="picdata5" [attr.smallgreytitle]="title5"></app-dartboard>
</div>