input.colours {
    text-align: center;
    background-color: aqua;
    color: grey;
}

text.colours {
    fill: none;
    stroke: coral;
    font-size: 15px;
    text-anchor: middle;
    stroke-opacity: 0.5;
}

path.colours {
    fill: orange;
    stroke: brown;
    stroke-width: 2px;
}

path.LL4 {
    fill: none;
    stroke: gray;
    stroke-dasharray: 8px, 15px;
}

path.LL4.V {
    stroke-dasharray: 0px;
}

text.LL4 {
    stroke: black;
    text-anchor: middle;
    font-size: 12px;
}