div.mainTip {
    background: black;
    color: white;
    position: absolute;
    text-align: center;
    font-size: 150%;
    padding: 1px 5px 2px 5px;
    border: 8px;
    border-radius: 4px;
    bottom: inherit;
    box-shadow: 1px 1px 3px #222222;
    font-weight: bold;
    font-family: Open Sans, sans-serif;
    pointer-events: none;
    overflow:inherit;
    z-index: 3;
    opacity: 0;
    margin-left: -3px;
    border-width: 3px;
    border-style: solid;
    border-color:orchid rgb(119, 247, 119) rgb(96, 96, 230) rgb(201, 81, 81) ;
}
div.mainTip::after{
    content: "";
    position: absolute;
    top: 90%;
    left: 50%;
    margin-left: -0.5em;
    border-width: 0.5em;
    border-style:groove;
    border-color:transparent black  transparent black;
  }

.htmltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .htmltip .tiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .htmltip .tiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .htmltip:hover .tiptext {
    visibility: visible;
    opacity: 1;
  }

nav {
    width: 900px;
    height: 80px;
    background-color: gold;
    text-align: justify;
    overflow: scroll;
    overflow-y: hidden;
}

tr {
    background-color: antiquewhite;
}

a {
    background-color: rgb(169, 243, 169);
    color: brown;
    cursor: crosshair;
}