div.mainTip {
    background: black;
    color: white;
    position: absolute;
    text-align: center;
    font-size: 150%;
    padding: 1px 5px 2px 5px;
    border: 8px;
    border-radius: 4px;
    bottom: inherit;
    box-shadow: 1px 1px 3px #222222;
    font-weight: bold;
    font-family: Calibri, sans-serif;
    pointer-events: none;
    overflow: auto;
    z-index: 3;
    opacity: 1;
}

nav {
    width: 900px;
    text-align: center;
}

a {
    background-color: rgb(169, 243, 169);
    color: brown;
    cursor: crosshair;
}