<nav>
<tr>
<td></td>
    <a routerLink="/optlog" routerLinkActive="active">Optimiser Log  </a><td></td>
    <a routerLink="/etl" routerLinkActive="active">ETL  </a><td></td>
    <a routerLink="/gauge" routerLinkActive="active">NEW GAUGES  </a><td></td>
    <a routerLink="/proper" routerLinkActive="active">Test Angular  </a><td></td>
    <a routerLink="/bulk" routerLinkActive="active">Bulk Trade Dial in Angular  </a><td></td>
    <a routerLink="/bulkbar" routerLinkActive="active">Bulk Trade Bar in Angular  </a><td></td>
    <a routerLink="/bulktest" routerLinkActive="active">Bulk Trade Dial Test  </a><td></td>
    <a routerLink="/bubbles" routerLinkActive="active">Bubbles Chart  </a><td></td>
    <a routerLink="/receive" routerLinkActive="active">Receiver Test  </a>
    </tr>
</nav>
<div class="mainTip"></div>
<router-outlet></router-outlet>