<svg id="BULK" width="0" height="0">
  <ng-container  *ngFor="let d of DATA.monitorFlagCategory; let i=index">
  <path [attr.class]="d.outlierStatusType.substr(0,1)"
  [attr.d]="arcPath(i)" [attr.transform]="translateHack(side/2,side/2)"
  (mouseenter)="onMouseEnter(DATA.label,d,$event)"
  (mouseleave)="onMouseLeave()">
  </path>
  <text    [style.font-size]="fontSize"px  [attr.transform]="translateHack(side/2,side/2+(i-1)*160)">{{d.value}}</text>
  </ng-container>
  <text [style.font-size]="fontSize"px [attr.transform]="translateHack(side/2,side/2+320)">{{DATA.label}}</text>
  </svg>