#BULK path.O {
    fill: red;
}

#BULK path.N {
    fill: green;
}

#BULK path.A {
    fill: yellow;
}

#BULK text {
    font-size: 80px;
    fill: grey;
    text-anchor: middle;
}

g.tooltip2 {
    background: black;
    color: white;
    position: relative;
    text-align: center;
    font-size: 30px;
    pointer-events: none;
    overflow: auto;
}