<svg [attr.width]="2*flowerradius+flowerRim" [attr.height]="2*flowerradius+flowerRim">
            <text [style.font-size]="'40px'" [style.text-anchor]="'middle'" [attr.x]="flowerradius+flowerRim/2" [attr.y]="flowerRim/2">Optimised Changes to Portfolio</text>
            <g [attr.transform]="translatehack(flowerradius+flowerRim/2,flowerradius+flowerRim/2)">
                <g id="PetalP" (mouseenter)="petal($event,true)" (mouseleave)="petal($event,false)" [style.opacity]="0.5" [style.fill]="'rgb(18, 234, 18)'" [style.stroke]="'none'">
                    <text [attr.x]="-flowerradius+25" [attr.y]="-flowerradius+flowerRim">Proposed</text>
                    <path  [attr.d]="radarLine(flower1)+radarLineZ(flower1)+flowerLabel(0)"></path>
                </g>
                <g id="PetalC" (mouseenter)="petal($event,true)" (mouseleave)="petal($event,false)" [style.opacity]="0.5" [style.fill]="'gray'" [style.stroke]="'none'" >
                    <text [attr.x]="-flowerradius+25" [attr.y]="-flowerradius+flowerRim+20">Current</text>
                    <path (mouseenter)="petal($event,true)" (mouseleave)="petal($event,false)" [attr.d]="radarLine(flower2)+radarLineZ(flower2)+flowerLabel(20)"></path>
                </g>
            </g>
            <g [attr.transform]="translatehack(flowerradius+flowerRim/2,flowerradius+flowerRim/2)">
                <g id="PetalP" *ngFor="let circ of flower1;let i=index">
                    <text (mouseenter)="circlab($event,circ,true,'Proposed')"
                    (mouseleave)="circlab($event,circ,false)" [style.fill]="'rgb(18, 234, 18)'" [style.font-size]="'13px'"
                     [style.text-anchor]="Sin(angleScale(i))<0?'end':'start'"
                        [attr.x]="Sin(angleScale(i))*rScale(circ.value)-(Sin(angleScale(i))<0?7:-7)"
                        [attr.y]="-Cos(angleScale(i))*rScale(circ.value)+3">{{circ.value>cutOff?circ.axis:""}}</text>
                    <circle (mouseenter)="circlab($event,circ,true,'Proposed')"
                        (mouseleave)="circlab($event,circ,false)" [style.fill]="'rgb(18, 234, 18)'" [attr.r]="circ.value>cutOff?5:0"
                        [style.fill-opacity]="0.75" [attr.cx]="Sin(angleScale(i))*rScale(circ.value)"
                        [attr.cy]="-Cos(angleScale(i))*rScale(circ.value)"></circle>
                </g>
                <g id="PetalC" *ngFor="let circ of flower2;let i=index">
                    <text (mouseenter)="circlab($event,circ,true,'Current')" (mouseleave)="circlab($event,circ,false)" [style.fill]="'gray'" [style.font-size]="'13px'"
                     [style.text-anchor]="Sin(angleScale(i))<0?'end':'start'"
                        [attr.x]="Sin(angleScale(i))*rScale(circ.value)-(Sin(angleScale(i))<0?7:-7)"
                        [attr.y]="-Cos(angleScale(i))*rScale(circ.value)+3">{{circ.value>cutOff?circ.axis:""}}</text>
                    <circle (mouseenter)="circlab($event,circ,true,'Current')" (mouseleave)="circlab($event,circ,false)"
                        [style.fill-opacity]="0.75" [style.fill]="'gray'" [attr.r]="circ.value>cutOff?5:0"
                        [attr.cx]="Sin(angleScale(i))*rScale(circ.value)"
                        [attr.cy]="-Cos(angleScale(i))*rScale(circ.value)"></circle>
                </g>
            </g>
        </svg>