:host {
    font-size: 30px;
    font-family: Calibri, sans-serif;
}

circle.gridCircle {
    fill-opacity: 0.1;
    stroke-opacity: 0.05;
    filter: url(#glow);
    fill: rgb(235, 200, 136);
    stroke: rgb(235, 200, 136);
}

circle.radarCircle {
    fill: rgb(255, 50, 50);
    fill-opacity: 0.8;
}

circle.radarInvisibleCircle {
    pointer-events: all;
    fill: rgb(255, 50, 50);
    fill-opacity: 0;
}

path.gridZero {
    fill: rgb(0, 0, 0);
    stroke: rgb(0, 0, 0);
    stroke-dasharray: 15, 15;
}

path.radarStroke {
    fill: none;
    stroke: rgb(255, 50, 50);
    cursor: progress;
}

path.radarArea {
    fill: rgb(255, 50, 50);
    fill-opacity: 0.35;
    cursor: progress;
}

line.line {
    stroke: rgb(248, 230, 230);
    stroke-opacity: 0;
}

text.assetnames tspan {
    fill: rgb(138, 102, 102);
    text-anchor: start;
}

text.assetnames.big tspan {
    font-weight: bold;
}

text.axislabels {
    font-stretch: expanded;
    fill: rgb(139, 0, 139);
    text-anchor: middle;
}

text.axislabels bold {
    font-weight: bolder;
}

text.portfoliolabels {
    text-anchor: end;
    fill: rgb(255, 50, 50);
    fill-opacity: 0.35;
    cursor: progress;
}