:host {
    font-size: 30px;
}

circle.gridCircle {
    fill-opacity: 0.1;
    stroke-opacity: 0.1;
    filter: url(#glow);
    fill: #7a7a7a;
    stroke: rgba(255, 155, 97, 0.25);
}

circle.radarCircle {
    fill: rgb(255, 50, 50);
    fill-opacity: 0.8;
}

circle.radarInvisibleCircle {
    pointer-events: all;
    fill: rgb(255, 50, 50);
    fill-opacity: 0.8;
}

path.gridZero {
    fill: black;
    stroke: black;
    stroke-dasharray: 15, 15;
    stroke-width: 2px;
}

path.radarStroke {
    fill: none;
    stroke: rgb(255, 50, 50);
}

path.radarArea {
    fill: rgb(255, 50, 50);
    fill-opacity: 0.35;
}

line.line {
    stroke: #f8e6e6;
    stroke-opacity: 0;
}

text.legendRadar {
    fill: #333333;
    text-anchor: start;
}

text.legendRadar.big {
    font-weight: bold;
}

text.axisRadar {
    font-stretch: expanded;
    fill: #33766b;
    text-anchor: middle;
}

text.axisRadar bold {
    font-weight: bolder;
}

text.portlabs {
    text-anchor: end;
    fill: rgb(255, 50, 50);
    fill-opacity: 0.35;
}