<svg [attr.width]="ww" [attr.height]="hh">
    <g fill="white" text-anchor="end" *ngIf="leftlabel">
        <text [attr.y]="scaleY(1)+10" [attr.x]="scaleX(0)">100%</text>
        <text [attr.y]="scaleY(0.5)+5" [attr.x]="scaleX(0)">50%</text>
        <text [attr.y]="scaleY(0)" [attr.x]="scaleX(0)">0%</text>
    </g>
    <g stroke="white" stroke-width="2px">
        <line [attr.y1]="scaleY(1)" [attr.y2]="scaleY(1)" x1="0" [attr.x2]="ww"></line>
        <line [attr.y1]="scaleY(0.5)" [attr.y2]="scaleY(0.5)" x1="0" [attr.x2]="ww"></line>
        <line [attr.y1]="scaleY(0)" [attr.y2]="scaleY(0)" x1="0" [attr.x2]="ww"></line>
    </g>
    <g *ngFor="let pillar of plotP.length?plotP:[];let i=index">
        <g *ngFor="let j of [0,1,2,3,4,5,6]">
            <rect [attr.class]="Classes[j]" [attr.x]="scaleX(i)" [attr.y]="scaleY(pillar[j+1])"
                [attr.height]="scaleY(pillar[j])-scaleY(pillar[j+1])" [attr.width]="scaleX(i+1)-scaleX(i)">
            </rect>
        </g>
    </g>
</svg>