<div style="display: inline-flex">
    <ng-container *ngFor="let flagRow of DATA.preTradeMonitorFlags.monitorFlagRow">
        <app-bulktrade [DATA]="flagRow" [width]="100"></app-bulktrade>
    </ng-container>
    <app-bulktrade [animate]="false" [DATA]="data" [width]="200" [height]="250"></app-bulktrade>
    <ng-container *ngFor="let flagRow of DATA.postTradeMonitorFlags.monitorFlagRow">
        <app-bulktrade [durationTime]="1000" [DATA]="flagRow" [width]="100"></app-bulktrade>
    </ng-container>
</div>