<ng-container *ngFor="let flagRow of DATA.preTradeMonitorFlags.monitorFlagRow; let ii=index">
    <app-bulktrade  myattr="before" [bcolor]="'pink'" [square]="ii%2?true:false"   [toolTipObj]="ttObj" [DATA]="flagRow" [width]="100" [height]="100"></app-bulktrade>
</ng-container>
<app-bulktradebar myattr="change" [animate]="true" [durationTime]="500" [counter]="DATA.outlierStatusCounter.counter" [width]="200" [height]="100"></app-bulktradebar>
<ng-container *ngFor="let flagRow of DATA.postTradeMonitorFlags.monitorFlagRow;let ii=index">
    <app-bulktrade myattr="after" [bcolor]="'orange'" [style.background-color]="'orange'"[square]="ii%2?false:true" [durationTime]="1000" [DATA]="flagRow" [height]="100" [width]="100"></app-bulktrade>
</ng-container>