<ng-container *ngFor="let flagRow of DATA.preTradeMonitorFlags.monitorFlagRow">
    <app-bulktrade [DATA]="flagRow" [width]="100" [height]="100"></app-bulktrade>
</ng-container>
<app-bulktradebar [animate]="true" [durationTime]="500" [counter]="DATA.outlierStatusCounter.counter" [width]="200" [height]="100"></app-bulktradebar>
<ng-container *ngFor="let flagRow of DATA.postTradeMonitorFlags.monitorFlagRow">
    <app-bulktrade [durationTime]="1000" [DATA]="flagRow" [height]="100" [width]="100"></app-bulktrade>
</ng-container>