#BUBBLE {
    font-size:22px;
}
#BUBBLE text{
    fill:green;
    text-anchor: middle;
}
#BUBBLE text.labelX{
    font-size:25px;
    fill:black;
    text-anchor: middle;
}
#BUBBLE text.labelY{
    font-size:14px;
    fill:black;
    text-anchor: start;
}
#BUBBLE tspan.name{
    text-anchor:end;
}
#BUBBLE rect.border{
    fill:none;
    stroke:red;
    stroke-width: 5px;
}
#BUBBLE circle{
    fill:none;
    fill-opacity: 0.4;
    stroke:none;
    stroke-width: 2px;
}
#BUBBLE rect{
    fill:none;
    fill-opacity: 0.4;
    stroke:none;
    stroke-width: 2px;
}
#BUBBLE path{
    fill:none;
    fill-opacity: 0.4;
    stroke:none;
    stroke-width: 2px;
}