<svg id="BUBBLE" [attr.width]="'100%'" [attr.height]="height">
<g [attr.transform]="translateHack(borderX,borderY)">
<rect (click)="rectClick($event)"   [attr.width]="width-borderX*2" [attr.height]="height-borderY*2"  class="border"></rect>

<text   class="labelX"  [attr.y]="fontSize-borderY/2"> 
<ng-container *ngFor="let coll of getKeys(DATA[0]); let j=index">
<tspan  [attr.class]="coll"  [attr.x]="xScale(j+1)" >{{coll}}</tspan>
</ng-container>
</text>

<ng-container *ngFor="let row of DATA; let i=index;">


<ng-container *ngFor="let coll of getKeys(row); let j=index">
<ng-container *ngIf="isNumberHack(DATA[dataOrder[i]][coll])">

<ng-container *ngIf="paths">
<path (click)="textClick(j,i)" (mouseenter)="textEnter(i,coll,$event)" (mouseleave)="textLeave()" 
class="table" [attr.ij]="getIdHack(j,i)" [attr.d]="radarLine(vertexLine(radScale(absHack(DATA[dataOrder[i]][coll]))))"
 [style.fill]="isNumberHack(DATA[dataOrder[i]][coll])?pathScale(DATA[dataOrder[i]][coll]):'none'"
[attr.transform]="translateHack(xScale(j+1),yScale(i+1),pathRotate)">
  </path>
</ng-container>

<ng-container *ngIf="circles">
<circle (click)="textClick(j,i)" (mouseenter)="textEnter(i,coll,$event)" (mouseleave)="textLeave()" 
class="table"  [attr.ij]="getIdHack(j,i)" [style.fill]="isNumberHack(DATA[dataOrder[i]][coll])?circleScale(DATA[dataOrder[i]][coll]):'none'"
 [attr.cx]="xScale(j+1)" [attr.cy]="yScale(i+1)"  [attr.r]="radScale(absHack(DATA[dataOrder[i]][coll]))"></circle>
</ng-container>

<ng-container *ngIf="squares">
<rect (click)="textClick(j,i)" (mouseenter)="textEnter(i,coll,$event)" (mouseleave)="textLeave()" 
class="table" [attr.ij]="getIdHack(j,i)" [style.fill]="isNumberHack(DATA[dataOrder[i]][coll])?squareScale(DATA[dataOrder[i]][coll]):'none'"
 [attr.x]="-radScale(absHack(DATA[dataOrder[i]][coll]))" 
[attr.y]="-radScale(absHack(DATA[dataOrder[i]][coll]))"
[attr.height]="radScale(absHack(DATA[dataOrder[i]][coll]))*2"
 [attr.width]="radScale(absHack(DATA[dataOrder[i]][coll]))*2"
  [attr.transform]="translateHack(xScale(j+1),yScale(i+1),squareRotate)"></rect>
</ng-container>

</ng-container>
</ng-container>

<text  class="table"  [attr.ij]="getIdHack(0,i)"  [attr.transform]="translateHack(0,yScale(i+1)+fontSize/4)"> 
<ng-container *ngFor="let coll of getKeys(row); let j=index">
<tspan (click)="textClick(j,i)" (mouseenter)="textEnter(i,coll,$event)" (mouseleave)="textLeave()" 
[attr.class]="coll"  [attr.x]="xScale(j+1)" >{{DATA[dataOrder[i]][coll]}}</tspan>
</ng-container>
</text>
<g [attr.transform]="translateHack(-7*borderX/8,0.0)">
  <text   class="labelY" (mouseenter)="labelEnter(i,leftLabel[dataOrder[i]],$event)" (mouseleave)="labelLeave()" [attr.dataId]="dataOrder[i]"
  [attr.y]="-yScale(1)" 
   [attr.transform]="translateHack(yScale(0.5),yScale(i+1),0)">
  <ng-container *ngFor="let line of leftLabelA[dataOrder[i]]; let lineNo=index">
      <tspan [attr.x]="-yScale(0.5)"    [attr.dy]="lineNo>0?'1em':'3em'">{{leftLabelA[dataOrder[i]][lineNo]}}</tspan>
  </ng-container>
  </text>
</g>
</ng-container>
</g>
</svg>
