#BULKBAR rect.O {
    fill: red;
}

#BULKBAR rect.N {
    fill: green;
}

#BULKBAR rect.A {
    fill: yellow;
}

#BULKBAR rect.group {
    fill: dimgrey;
    fill-opacity: 0.4;
}

:host {
    background-color: darksalmon;
}

g.tooltip1 {
    background: black;
    color: white;
    position: absolute;
    text-align: center;
    font-size: 12px;
    padding: 3px;
    border: 8px;
    border-radius: 4px;
    pointer-events: none;
    overflow: auto;
}