body {
    font-family: Calibri, sans-serif;
}

button:hover {
    background-color: cyan;
    transition: all 0.1s ease 0.3s;
    cursor: pointer;
}

[greentitle]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}

[greentitle]:after {
    content: attr(greentitle);
    background-image: linear-gradient(to bottom right, #00FF00, green);
    color: rgb(24, 11, 11);
    font-size: 125%;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: unset;
    left: 0%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 2px solid #111111;
    border-radius: 4px;
    z-index: 1;
    visibility: hidden;
}

[greentitle] {
    position: relative;
}

[smallgreytitle]:hover:after {
    opacity: 1;
    transition: all 0.02s ease 0.05s;
    visibility: visible;
}

[smallgreytitle]:after {
    content: attr(smallgreytitle);
    background-color: var(--back);
    color: whitesmoke;
    font-size: var(--ff);
    position: absolute;
    padding: 1px 5px 2px 5px;
    left: var(--xx);
    bottom: var(--yy);
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 2px solid #4b0f0f;
    border-radius: 4px;
    z-index: 99999;
    visibility: hidden;
}

[smallgreytitle] {
    --back: grey;
    --xx: 0%;
    --yy: unset;
    --ff: 80%;
    position: relative;
}