body {
    font-family: Calibri, sans-serif;
}

[greentitle]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}

[greentitle]:after {
    content: attr(greentitle);
    background-color: #00FF00;
    color: rgb(24, 11, 11);
    font-size: 150%;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: unset;
    left: 0%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 2px solid #111111;
    border-radius: 4px;
    z-index: 1;
    visibility: hidden;
}

[greentitle] {
    position: relative;
}

[smallgreytitle]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}

[smallgreytitle]:after {
    content: attr(smallgreytitle);
    background-color: grey;
    color: white;
    font-size: 75%;
    left: 0%;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: unset;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 2px solid #4b0f0f;
    border-radius: 4px;
    z-index: 1;
    visibility: hidden;
}

[smallgreytitle] {
    position: relative;
}