div.inputData {
    background-color: honeydew;
}

tspan.spacer {
    text-anchor: end;
    font-size: 20px;
}

input.inputField {
    background-color: chocolate;
}

input[type=range] {
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: rgb(219, 14, 14);
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: orange;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgb(221, 62, 208);
}

div.spacer {
    font-size: 15px;
    text-align: center;
}

div.spacer div text {
    float: right;
    width: auto;
}

text.spacer {
    text-anchor: end;
    font-size: 2px;
}

circle.portfolioflower {
    fill: none;
    stroke: black;
    stroke-dasharray: 10, 5;
}

path.portfolioflower.one {
    fill: grey;
    stroke: grey;
}

path.portfolioflower.zero {
    fill: rgb(18, 234, 18);
    stroke: rgb(18, 234, 18);
}

circle.portfolioflower.one {
    fill: grey;
    stroke: grey;
}

circle.portfolioflower.zero {
    fill: rgb(18, 234, 18);
    stroke: rgb(18, 234, 18);
}

text.portfolioflower.one {
    font-size: 18px;
    fill: grey;
    stroke: none;
}

text.portfolioflower.zero {
    font-size: 18px;
    fill: rgb(18, 234, 18);
    stroke: none;
}

g.tooltip {
    background: black;
    color: white;
    position: absolute;
    text-align: center;
    font-size: 25px;
    pointer-events: none;
    overflow: auto;
}

.leafy {
    color: blue;
    font-size: 20px;
}