<button style="color:inherit" (click)="sendData()">{{sendLabel}}</button>
<button style="color:inherit" (click)="zeroAlpha()">Zero Alpha</button>
<button style="color:inherit" (click)="zeroInitial()">Zero Initial</button>
<button style="color:inherit" (click)="negateAlpha()">Negate Alpha</button>
<button style="color:inherit" (click)="clear()">Clear</button>
<button style="color:inherit" (click)="clearChartN(0)">Clear First Chart</button>
<p id="sticks" style="color:blue">STICKS<input type="checkbox" (click)="stickFlowers()"></p>
<p style="width:1000px;text-align:center" id="message"></p>
<p style="width:1000px;height:150px;text-align:justify;overflow-x: hidden;overflow-y: scroll" id="valuesback"></p>
<div style="width:1000px;overflow-x:scroll">
<div style="width:1500px">
<p id="chart"></p>
</div>
</div>
<p id="stockdata"></p>