<button style="color:inherit" (click)="sendData()">{{sendLabel}}</button>
<button style="color:inherit" (click)="zeroAlpha()">Zero Alpha</button>
<button style="color:inherit" (click)="zeroInitial()">Zero Initial</button>
<button style="color:inherit" (click)="negateAlpha()">Negate Alpha</button>
<div style="color:rgb(18, 234, 18)">
    <input type="range" min="0" [attr.max]="scale" [attr.value]="scaleExp*scale" (input)="newscale($event)">Flower Scale {{scaleExp}}
</div>
<div id="sticks" style="color:blue">STICKS<input type="checkbox" (click)="stickFlowers()"></div>
<div id="message" style="width:1000px;text-align:start;color: darkgreen">Status: {{MESSAGE}}</div>
<div style="display:flex">
    <div smallgreytitle="Portfolio Properties" style="--back:blue">
        <div class="spacer" style="font-size:30px">Properties</div>
        <div class="spacer" *ngFor="let prop of propData;let i=index" [style.color]="colourT(i/(propLabels.length-1))">{{propLabels[i]}}<br>{{etlFormat(prop)}}
        </div>
    </div>
    <app-flower style="--back:blue" [animate]="anim" [flowerTitle]="flowerTitle" smallgreytitle="Portfolio Comparison" [flowerradius]="300" [scaleExp]="scaleExp" [sticks]="useSticks" [flowerfinal]="stockWeights" [flowerinitial]="stockInitial" [flowernames]="stockNames"></app-flower>
</div>
<p id="stockdata"></p>